
<div class="m-5 lay-out-ask">
<h1>Hello! I am Chun Man!</h1>
<form action="/answer" data-turbo="false">
  <input type="text" name="question" class="form-control mb-2">
  <input type="submit" value="ASK!" class="btn btn-lg btn-primary">
</form>
</div>
